.project {
  width 55%;
  box-shadow 5px 5px 5px grey;
  margin-bottom 15px;
}

.project.odd {
  float left;
}

.project.even {
  float right;
}

.article-content .project img {
  padding 0;
}

.article-content .project h3 {
  font-size 1.2em;
  text-align center;
  font-weight bold;
  margin 0;
  padding 10px;
  background-color #e9ecee;
}

.project p {
  padding 0 10px;
}