.project {
  width: 55%;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: 5px 5px 5px grey;
  -webkit-box-shadow: 5px 5px 5px grey;
  box-shadow: 5px 5px 5px grey;
}

.project.odd {
  float: left;
}

.project.even {
  float: right;
}

.article-content .project h3 {
  font-size: 1.2em;
  text-align: center;
  font-weight: bold;
  margin: 0 0 20px 0;
  padding: 10px;
  background-color: #e9ecee;
}

.article-content .project h3 a {
  color: inherit;
}

.article-content .project h3 a:hover {
  color: #EA6753;
}

.project p {
  padding: 0 10px;
}